/* @media (prefers-color-scheme: light) {
    :root {
        --color-text: black;
        background: var(--Light-Grayish-Blue);
    }
} */

:root[data-tema='light'] {
    --color-text: black;
    --background-color: black;
    /* Primary */
    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);
    /* Neutral */
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
    --dark-wite: hsl(233, 26%, 30%);
    --Accent-Color: hsl(233, 8%, 62%);
    --box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, .2);
    background-color: var(--Light-Grayish-Blue);
}