#app {
    display: flex;
    flex-flow: column wrap;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    flex-direction: row;
    align-content: center;
    width: 100%;
    height: 500px;
    background: url("../../assets/images/bg-intro-desktop.svg") no-repeat right;
    background-position-x: 400px;
}

.container__article {
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    width: 395px;
}

.container__image-wrapper {
    position: relative;
    width: 50%;
    height: 100%;
}

.container__image {
    position: absolute;
    width: 570px;
    right: -106px;
    top: -50px;
    aspect-ratio: 394/481;
}

.container__title {
    font-weight: 700;
}

.title--large {
    font-size: var(--font-rem3);
}

.conatiner__paragraph {
    font-weight: 400;
    color: var(--Grayish-Blue);
}

.main__section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    margin-top: 50px;
}

.main__section-padding {
    padding: 50px 0;
}

.container--light-gray, .main__section--light-gray {
    background-color: var(--Very-Light-Gray);
}

.main__text-container {
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    width: 395px;
    
}

.title--medium {
    font-weight: 500;
    font-size: var(--font-rem2);
}

.footer__logo {
    fill: white;
}

@media only screen and (max-width: 980px) {
    .main__section {
        align-items: center;
    }   

    .main__text-container {
        width: 100%;
        text-align: center;
    }

    article.set__carts {
        align-items: center;
    }

    .container {
        flex-flow: column-reverse nowrap;
        overflow: hidden;
        padding: 0 0 40px 0;
        row-gap: 10px;
        min-height: 100vh;
        background-position-x: 0;
    }

    .container__article__text {
        align-items: center;
        text-align: center;
        width: 100%;
        height: 50%;
    }

    .container__image-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        position: static;
        overflow: hidden;
        height: 100%;
    }

    .container__image {
        position: static;
        width: 70%;
        object-fit: fill;
    }

    .title--medium {
        width: 365px;
    }

}

@media only screen and (max-width: 700px) {
    .container {
        background: url("../../assets/images/bg-intro-mobile.svg") no-repeat;
        background-size: cover;
    }
}

@media only screen and (max-width: 500px) {
    .container {
        background-size: contain;
    }

    .container__article {
        padding: 0 10px;
        width: auto;
    }

    .container__image-wrapper {
        position: static;
        width: 100%;
        height: 100%;
        padding: 30px;
    }

    .main {
        overflow: hidden;
    }
}