.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    flex-direction: row;
    align-content: center;
    background-color: var(--Very-Light-Gray);
    width: 100%;
    height: 500px;
}

.main__sect {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    margin-top: 50px;
}

@media only screen and (max-width: 980px) {
    .main__sect {
        align-items: center;
    }

    .wid {
        width: 365px;
    }

    

    article.set__carts {
        align-items: center;
    }

    .container {
        flex-flow: column-reverse nowrap;
        overflow: hidden;
        padding: 0 0 40px 0;
        row-gap: 10px;
        min-height: 100vh;
    }

    article.container__article__text {
        align-items: center;
        text-align: center;
        width: 100%;
        height: 50%;
    }

    .container__cont__img {
        display: flex;
        align-items: center;
        justify-content: center;
        position: static;
        overflow: hidden;
        height: 50%;
    }

    img.cont__img {
        position: static;
        width: 70%;
    }
}