.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 70px;
    overflow: hidden;
    background-color: var(--White);
    z-index: 1;
}

.header__nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    height: 100%;
    overflow: hidden;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.nav__item, .nav__link {
    padding: 10px;
}

.nav__link {
    color: var(--Grayish-Blue);
    font-weight: 300;
}

@media only screen and (max-width: 980px) {
    .header {
        flex-flow: row wrap;
        overflow: visible;
    }

    .header__nav {
        visibility: hidden;
        position: absolute;
        top: 87px;
        justify-content: center;
        flex-direction: column;
        background-color: var(--White);
        width: 90vw;
        height: 0;
        padding: 20px 0;
        transition: all .2s ease;
        gap: 20px;
    }

    .header__nav.header__nav__state-active {
        height: 90vh;
        box-shadow: var(--box-shadow);
        visibility: visible;
    }

    .nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: 0;
        gap: 20px;
    }

    .nav.nav__ul__state-active {
        height: 70%;
    }

}

@media only screen and (max-width: 500px) {
    .header__log {
        width: auto;
    }
}