:root {
    --color-text: black;
    --backgruond-color: white;
    color-scheme: light dark;
    text-rendering: optimizeLegibility;
    /* Primary */
    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);
    /* Neutral */
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
    --box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, .2);
    --font-rem3: 3rem;
    --font-rem2: 2rem;
}

.title {
    font-weight: 700;
}

.title2 {
    font-weight: 500;
}

.paragraph {
    font-weight: 400;
    color: var(--Grayish-Blue);
}

.rem3 {
    font-size: var(--font-rem3);
}

.rem2 {
    font-size: var(--font-rem2);
}

@media only screen and (max-width: 500px) {
    .rem3 {
        font-size: 2.5rem;
    }

    .rem2 {
        font-size: 1.5rem;
    }
}